{% load static %}

    <div class="banner">
        <div class="row">
            <div class="col-2">
                <h1>Stay Connected with  <br>Cutting-Edge Technology</h1>
                <p>Experience the pinnacle of technology with the latest flagship models.
                    <br> Ultra-fast processors, stunning displays, and advanced cameras all in one sleek device.</p>
                <a href="" class="btn">Explore Now &#8594;</a>
            </div>
            <div class="col-4">
                <img src={% static "images/iphone.webp"%}>
            </div>
        </div>
    </div>
