{% load static%}

<div class="address-container " style="width:100%">
    <form method="POST">
        {% csrf_token %}

    <div class="address-card">

        <div class="profile-side">
        <img  class="profile-image" src={% static "images/profile.png" %} alt="John" style="width:35%">
        <h1>{{customer.name}}</h1>
        <h3 class="title">Email:</h3>
        <h5>{{email}}</h5>
        <h3 class="title">Phone:</h3>
        <input type=text placeholder = {{customer.phone}} style="width:60%" name="phone">
        <inpupt type = "hidden" name = "procceed" value = {{procceed}}>
        </div>
        <div class="address-side">
                {{ form.as_p }}
                
                <button type="submit" class="btn">Update</button>
            </form>
        </div>
    </div>

</div>
